body {
    background-color: black;
}


/* Nav-section  */
.img-logo {
    width: 25%;
}

.nav-links:hover {
    background-color: rgb(33, 123, 143);
    color: linear-gradient(90deg, rgba(5, 11, 93, 1) 23%, rgba(31, 123, 143, 1) 62%);
    border-radius: 5%;
}

.btn-nav {
    width: 10%;
}

.nav-section {
    padding: 10px;
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-family: 'Seri EA', sans-serif;
}

.nav-hover:active {
    color: rgb(69, 69, 69);
}

/* Home-section */


.welkom-home{
    font-size: 350%;
    margin-top: 5%;
}

.margin-cards-home{
    margin-top: 10%;
    margin-bottom: 10%;
}

.home-section {
    font-family: 'ADLaM Display', sans-serif;
}

.title-text {
    color: rgb(33, 123, 143);
    color: linear-gradient(90deg, rgba(5, 11, 93, 1) 23%, rgba(31, 123, 143, 1) 62%);

    /* background: rgb(0,5,80);
background: linear-gradient(94deg, rgba(0,5,80,1) 23%, rgba(23,94,110,1) 79%); */
}

.cards-home {
    margin-top: 50%;
}

/* AboutMe-section */
.aboutMe-section {
    font-family: 'ADLaM Display', sans-serif;
}

.mini-title-aboutMe{
    font-size: 75%;
}


/* chart.js */
.chartjs-section {
    /* font-family: 'ADLaM Display', sans-serif; */
    background-color: black;
    color: white;
    text-align: center;
    /* color: rgba(38, 0, 38, 0.258);
    color: rgba(83, 1, 83, 0.941); */
}

.chart-container {
    width: 70%;
    margin: auto;
}

/* projects-section */

.projects-section {
    background-color: #f8f9fa;
    color: #343a40;
}

.custom-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Contact-section */

.logos-contact-section{
    color: rgb(33, 123, 143);
    color: linear-gradient(90deg, rgba(5, 11, 93, 1) 23%, rgba(31, 123, 143, 1) 62%);
}

.btn-contact-section{
    background-color: rgb(33, 123, 143);
    background-color: linear-gradient(90deg, rgba(5, 11, 93, 1) 23%, rgba(31, 123, 143, 1) 62%);
}